.History{
    text-align: center;
}
.img{
    float: right;
    width: 350px;
}
.link{
    text-decoration: none;
    text-transform: none;
}
.link1{
    text-transform: none;
    text-decoration: none;
}
.link2{
    text-decoration: none;
    text-transform: none;
}
.link3{
    text-decoration: none;
    text-transform: none;
}
.link4{
    text-decoration: none;
    text-transform: none;
}
.link5{
    text-decoration: none;
    text-transform: none;
}
.link6{
    text-decoration: none;
    text-transform: none;
}
.img2{
    width: 300px;
    height: 200px;
}
.paragraph{
    text-align: right;
    line-height: 40px;
}