.heading{
    text-align: center;
    background-color: blueviolet;
}
.img{
    float: right;
    width: 350px;
}
.link{
    text-decoration: none;
    text-transform: none;
}
.link1{
    text-transform: none;
    text-decoration: none;
}
.link2{
    text-decoration: none;
    text-transform: none;
}
.link3{
    text-decoration: none;
    text-transform: none;
}
.link4{
    text-decoration: none;
    text-transform: none;
}
.link5{
    text-decoration: none;
    text-transform: none;
}
.link6{
    text-decoration: none;
    text-transform: none;
}
.link{
    text-decoration: none;
    text-transform: none;
}
.img2{
    width: 300px;
    height: 200px;
}
.para{
   text-align: right;
   

}
.img2{
    float: left;
    width:350px;
}

